.yel-col {
  color: rgb(195, 235, 16);
}
.nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 4px solid aliceblue !important;
}

.nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-link.active {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(1, 128, 85);
}

.font-ss {
  font-size: 110%;
}

.bgg {
  background-color: rgb(1, 128, 85);
}

.textgg {
  color: rgb(1, 128, 85);
}

.bgy {
  background-color: rgb(195, 235, 16);
}

.box {
  background-color: rgb(108, 182, 157) !important;
  margin: 5% 30% !important;
  border-radius: 5% !important;
}

.login-btn {
  margin-left: 40% !important ;
  margin-right: 40% !important;
}

.form-control {
  border-radius: 0% !important;
}

.input-bgg {
  background-color: rgb(108, 182, 157) !important;
  border: 0 !important;
  border-bottom: 2px solid #fff !important;
}

.form-control:focus {
  outline-style: none !important;
  box-shadow: 1px 1px 5px 1px #79d2a6 !important;
  border-color: transparent !important;
  color: white !important;
}
